.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fight {
  display: flex;
}

.fighter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
}

.raptor {
  height: auto;
  width: 20%;
}

.t-rex {
  max-width: 100%;
  object-fit: contain;
}
.velociraptor {
  max-width: 100%;
  object-fit: contain;
}

.dinoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.dino {
  max-height: 100px;
}

button {
  width: 150px;
  align-self: center;
  margin: 5px;
}

.gate {
  max-height: 500px;
  width: auto;
}

.tableDiv {
  max-width: 800px;
}